@{
    ViewData["Title"] = "За нас";
}
<h1><b>@ViewData["Title"]</b></h1>

<p>ServicePernik е компютърен сервиз в град Перник, който предлага широк набор от услуги, които бързо и ефективно се изпълняват от нашите служители за отстраняване на технически проблеми с устройствата на нашите клиенти.</p>

<img src="https://static.plasico.bg/thumbs/12/pexels-fauxels-3184418.jpg?v=0.06807659164845914" />

<h1><b>Екип</b></h1>
<p>Млад, амбициозен екип, в крак с всички актуализации и нововъведения в IT сферата. Следвайки мисията на ServicePernik, единно се стремим да работим в насока, носеща удовлетворение на всички страни, имащи досег до нас.</p>