@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to ServicePernik!</b></h1>
    <img src="https://5.imimg.com/data5/KS/SF/QA/SELLER-14145868/computer-repair-service-500x500.jpg"/>
</div>
